@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  z-index: 999;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
}

.nav_i {
  color: #fff;
  text-decoration: none;
}

.menu-container {
  background-color: rgb(66, 66, 66);
  position: fixed;
  bottom: 3.75rem;
  left: 0;
  right: 0;
  height: 0;
  width: 35%;
  overflow: hidden;
  transition: height 0.3s ease;
  text-align: center;
}

.menu-container.active {
  height: 30%;
  width: 35%;
  overflow-y: scroll;
}

.nav_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav_li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.logo-icon i {
  font-size: 1.5rem;
}

.bars-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.bars-icon i {
  font-size: 1.5rem;
}

.placeholder {
  flex: 0 0 auto;
  margin: 0;
  padding: 0;
}
.nav_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}
.desktop_nav_ul {
  display: none;
}
.bottom-icon-placeholder {
  display: none;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}
.toggle {
  display: hidden;
}
@media only screen and (min-width: 768px) {
  nav {
    height: 100vh;
    width: 5.5vw;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden; /* Add this line */
  }
  nav:hover {
    width: 13vw;
  }

  .left-side,
  .right-side {
    flex-direction: column;
  }

  .logo-icon {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .nav_ul {
    display: none;
  }

  .desktop_nav_ul {
    display: flex;
    flex-direction: column;
    height: calc(100% - 20rem);
    justify-content: space-between;
  }

  .bars-icon {
    display: none;
  }

  .menu-container {
    display: none;
  }

  .placeholder {
    display: none;
  }

  .bottom-icon-placeholder {
    display: flex;
  }

  .nav_a {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav_li {
    position: relative;
    border-bottom: 1px solid #555;
    width: 79%;
    text-align: center;
  }
  .empty_li {
    border-bottom: 1px solid #555;
    width: 200%;
    margin-top: 1rem; /* Adjust this value to add space between the logo and the border */
  }

  .nav_text {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease, width 0.3s ease, font-size 0.3s ease;
    white-space: nowrap;
  }

  nav:hover .nav_span {
    opacity: 1;
    width: 60vw;
    font-size: 1rem;
    font-weight: bold;
  }

  .nav_span {
    opacity: 0;
    width: 0;
    font-size: 0;
    margin-top: 0.5rem;
    transition: opacity 0.3s ease, width 0.3s ease, font-size 0.3s ease;
  }

  /* Additional rules for text opacity and width */
  .nav_text {
    opacity: 0;
    width: 0;
  }

  .nav_li:hover .nav_text {
    opacity: 1;
    width: 100%;
  }

  .logo-icon {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  /* Increase size of icons */
  .nav_i {
    font-size: 1.5rem;
  }

  /* Increase size of spans */
  .nav_span {
    font-size: 0.8rem;
  }
  .desktop_nav_ul {
    margin-top: -10vw;
  }
  .icon-a {
    color: #fff;
    font-size: 1.5rem;
  }
  .fa-stack {
    margin-bottom: 1.5rem;
  }
}
