:root {
  --grey-color: #ccc;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #131313;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 80px);
  padding-top: 80px;
  box-sizing: border-box;
  max-width: 100%;
}

.page-header {
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  max-width: 70vw;
}

.container {
  max-width: 100%;
  margin-left: 2rem;
  overflow-x: hidden;
}

.chat-container {
  margin-left: 10rem;
  padding: 1rem;
  height: 500px;
  overflow-y: auto;
  max-width: 75%;
}

.chat-message {
  max-width: 70vw;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.chat-message-left {
  background-color: #373737;
  color: white;
  align-self: flex-start;
}

.chat-message-right {
  background-color: #0084ff;
  color: white;
  align-self: flex-end;
}

.timestamp {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.updates_footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.textbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto; /* Updated margin */
  padding-bottom: 1rem;
  position: relative;
}

.updates_input {
  width: 100%;
  height: 3rem;
  background: black;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 4rem;
  border-radius: 2.5rem;
  color: white;
  border: solid 2px #ccc;
}

.update_icons {
  position: absolute;
  right: 0.5rem; /* Update this value */
  top: 40%;
  transform: translateY(-50%); /* Add this line */
  padding-right: 1rem;
  color: rgb(215, 215, 215);
  cursor: pointer;
}

.fas {
  margin-right: 0rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
}
.menu-container {
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .chat-container {
    margin-left: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chat-message {
    max-width: 90%;
  }

  .chat-message-left,
  .chat-message-right {
    align-self: center;
  }

  .timestamp {
    font-size: 0.7rem;
  }

  .updates_footer {
    bottom: 0;
  }

  .textbar {
    width: 95%;
    padding-top: 1rem;
    margin-bottom: 12%;
  }

  .updates_input {
    width: 100%;
    margin-left: 0;
    padding-right: 2rem;
  }

  .update_icons {
    right: 0.5rem;
    top: 50%;
  }
}
