@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #191414;
  color: #ffffff;
}

.music_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.music_header {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #6ae0a1;
  margin-bottom: 2rem;
}

.music_feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-bottom: 3rem;
}

.music_song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 3rem;
}

.music_song:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

.music_song img {
  width: 100%;
}

.music_song_title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.music_song_artist {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.playlists_wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: calc(
    3rem + 50px
  ); /* Adjust this value based on the width of your navbar */
  margin-right: 3rem;
}
.music_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  flex: 1; /* Add this line to evenly distribute the width */
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #282828 #181818;
}
